@font-face{
    font-family: regular;
    src: url(/public/asset/fonts/VarelaRound/VarelaRound-Regular.ttf);
}
@font-face {
  font-family: hindBold;
  src: url(/public/asset/fonts/Hind/Hind-Bold.ttf);
}